<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template">
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content"> Conteeeeeeeeeeeeeeeeeeent
        <div class="col-md-6 offset-3">
            <form method="post" th:action="@{/patients/save}" >
                <div>
                    <label>First name : </label>
                    <input type="text" name="firstName" th:value="${patient.firstName}">
                    <span th:errors="${patient.firstName}"></span>
                </div>
                <div>
                    <label>Last name : </label>
                    <input type="text" name="lastName" th:value="${patient.lastName}">
                    <span th:errors="${patient.lastName}"></span>
                </div>
                </br>
                <div>
                    <label>Birth date : </label>
                    <input class="form-control" type="date" name="birthDate" th:value="${patient.birthDate}">
                    <span th:errors="${patient.birthDate}"></span>
                </div>
                </br>
                <div>
                    <label>Sick : </label>
                    <input type="checkbox" name="sick" th:checked="${patient.sick}">
                    <span th:errors="${patient.sick}"></span>
                </div>
                <div>
                    <label>Score : </label>
                    <input type="checkbox" name="score" th:checked="${patient.score}">
                    <span th:errors="${patient.score}"></span>
                </div>
                <button type="submit" class="btn btn-primary ">Save</button>
            </form>
        </div>
    </div>
</body>
</html>